*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color:azure;
}
h2{

   text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form-container{
    
    width: 400px;
    height: auto;
    background-color: antiquewhite;
    margin: 40px auto; 
    border-radius: 10px;
}
.form-information{
 padding-top: 20px;
}
span{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
 
    
}
input ,.dropdown{
    width: 90%;
    margin-left: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
::-webkit-input-placeholder{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
padding-left: 20px;
margin-top: -20px;
padding-bottom: 10px;
color: red;
}
button{
    width: 200px;
    border-radius: 9px;
    margin-bottom: 10px;
    background-color:#fff;
    padding: 8px;
    border: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   cursor: pointer;

  }
  button:hover{
    opacity: 0.5;
  }
.getcard{
    height: 30px;
   float: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
}
h4{
    text-align: right;
    color: red;
margin-top: 10px;

}
/* spinner */

.spinner {
    width: 70.4px;
    height: 70.4px;
    margin: 200px auto;
    --clr: rgb(247, 197, 159);
    --clr-alpha: rgb(247, 197, 159,.1);
    animation: spinner 1.6s infinite ease;
    transform-style: preserve-3d;
    
    
  }
  
  .spinner > div {
    background-color: var(--clr-alpha);
    
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
  }
  
  .spinner div:nth-of-type(1) {
    transform: translateZ(-35.2px) rotateY(180deg);
  }
  
  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }
  
  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }
  
  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }
  
  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }
  
  .spinner div:nth-of-type(6) {
    transform: translateZ(35.2px);
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
  
    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
  
    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }


  /* card */
  .card-verifictaion{
    width: 400px;
    padding-top: 60px;
    margin: 140px auto;
    background-color: antiquewhite;
    height: 300px;
    border-radius: 10px;
  }
  .Student-Card{
    width: 500px;
    height: 280px ;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 150px auto;
  }
  .goback{
    width: 22px;
    float: right;
    margin-top: -45px;
    margin-right: 12px;
  }
 
  .profile{
    padding-top: 70px;
    padding-left: 10px;
  
    width: 140px;
   
  }
  .row{
    display: flex;
    /* justify-content: space-between; */
align-items: center;
  }
  .information{
    margin-top: 80px;
    padding-left: 50px;
  }
h3{
  margin-right: 10px;
}